.large-label .dl-horizontal dt {
    width: 250px;
}
.large-label .dl-horizontal  dd {
    margin-left: 260px;
}
.quota .dl-horizontal dt {
  white-space: normal;
  font-style: italic;
}
.upload-file .dl-horizontal dt {
  white-space: normal;
  font-style: italic;
}


.dl-horizontal dt {
    white-space: normal;
}

.list-group-item {
  padding-left: 30px;
}

.list-group {
  padding-left: 30px;
  padding-right: 30px;
}

.attrz-block {
  border: 1px solid  #DDD;
  border-radius: 4px;
  background-color:  rgba(251, 251, 251, 0.93);
  padding: 20px;
  margin-bottom: 20px;
}
