{% from "_formhelpers.html" import render_formfield %}
{% extends "layout.html" %}

{% block title %} Création d'un quota {% endblock title %}
{% block body %}
<header class="row text-center">
  <h2>Création d'un quota</h2>
</header>

<section class="row">
  <div class="col-md-offset-4 col-md-4 well">

  <form method="post" action="/add_quota/">
    {{ render_formfield(form.default_quota) }}
    {{ render_formfield(form.group) }}
      <div class="row text-center">
        <button id="update" type="submit"  class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"> Créer le quota</span></button></div>
  </form>
  </div>
</section>
{% endblock body %}
