{% from "_formhelpers.html" import render_formfield, render_fieldlist %}
{% extends "layout.html" %}

{% block title %} Création d'un compte {% endblock title %}

{% block head_js %}
<script type="text/javascript" src="{{
         url_for('static', filename='jquery-2.1.1.js')
         }}"></script>

<script type="text/javascript" src="{{
         url_for('static', filename='custom_listbox.js')
         }}"></script>

<script type="text/javascript" src="{{
         url_for('static', filename='fieldset.js')
         }}"></script>

<script type="text/javascript" id="js">
$(document).ready(function(){
   $('#searchGroupFilter').keyup(function() {
     var searchArea = $('#group');
     // Select Box ID
     searchFromList($(this).val(), searchArea);
     //alert(searchArea);
   });
})
</script>
{% endblock head_js %}

{% block body %}
<div class="row text-center">
  <h3>Création d'un utilisateur</h3>
</div>
<div class="well col-md-offset-3 col-md-6 text-center">

    {% if edit_form  %}
    <form method="post" action="/add_user/{{ page}}">
      {{ render_formfield(edit_form.uid) }}
      {% for block in edit_blockz %}
      <div class="attrz-block">
        {% for field in fieldz %}
        {% if field.block == block %}
        {% if 'FieldList' in get_type(get_attr(edit_form, field.label)) %}
        {{ render_fieldlist(edit_form, field) }}
        {% else %}
        {{ render_formfield(get_attr(edit_form, field.label))}}
        {% endif  %}
        {% endif %}
        {% endfor  %}
      </div>
     {% endfor  %}

      <button id="update" type="submit"  class="btn btn-primary">
        <span class="glyphicon glyphicon-ok-sign"> Créer le compte</span>
      </button>
    </form>


    {% endif %}
</div>
{% endblock body %}
