{% from "_formhelpers.html" import render_formfield, render_fieldlist %}
{% extends "layout.html" %}

{% block title %} Création d'un groupe {% endblock title %}

{% block head_js %}
<!-- <script type="text/javascript" src="{{
url_for('static', filename='jquery-2.1.1.js')
}}"></script>

<script type="text/javascript" src="{{
url_for('static', filename='custom_listbox.js')
}}"></script>

<script type="text/javascript" id="js">
$(document).ready(function(){
$('#searchGroupFilter').keyup(function() {
var searchArea = $('#group');
// Select Box ID
searchFromList($(this).val(), searchArea);
//alert(searchArea);
});
})
</script> -->
{% endblock head_js %}

{% block body %}
<div class="well col-md-offset-3 col-md-6 text-center">
  <form method="post" action="/add_group/{{ page_label }}">
    {{ render_formfield(add_form.cn) }}
    {% if add_form.filesystem %}
    {{ render_formfield(add_form.filesystem) }}
    {% endif %}
    {% if add_form.responsable %}
    {{ render_formfield(add_form.responsable) }}
    {% endif %}
    {{ render_formfield(add_form.description) }}
    <button id="update" type="submit"  class="btn btn-primary">
      <span class="glyphicon glyphicon-arrow-right"> Suivant</span>
    </button>
  </form>
</div>
{% endblock body %}
