{% from "_formhelpers.html" import render_formfield, render_fieldlist %}
{% extends "layout.html" %}

{% block title %} Modifier le système de fichier {{ filesystem }}{% endblock title %}

{% block body %}
<a href="{{ url_for(
   'delete_filesystem',
   fs_label=filesystem.label)}}">Supprimer le système de fichier</a>
<br/>

<form method="post" action="/edit_filesystem/{{ filesystem.label }}">
  {{ render_formfield(form.label) }}
  {{ render_formfield(form.description) }}
  <input id="update" type="submit" value="Editer" >
</form>

{% endblock body %}
