{% macro render_formfield(field) %}
  <dt>{{ field.label }}</dt>
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
{% macro render_field(field, display_mode) %}
{{  convert_to_display_mode(field, display_mode) }}
{% endmacro %}
{% macro render_fieldlist(form, pagefield) %}
  <div data-toggle="fieldset" id="{{ pagefield.label }}-fieldset" >

    <dt>{{ get_attr(form, pagefield.label)[0].label }}</dt>
    {% if multivalue %}<button type="button" data-toggle="fieldset-add-row" data-target="#{{ pagefield.label }}-fieldset">+</button>
    {% endif %}
    <dd><ul>
      {% for field in get_attr(form, pagefield.label) %}
      <li data-toggle="fieldset-entry">  {{ field(**kwargs)|safe }}
      {% if pagefield.multivalue %}
        <button type="button" data-toggle="fieldset-remove-row" id="{{ pagefield.label }}-{{loop.index0}}-remove">-</button></li>
      {% endif %}
      {% if field.errors %}
        <ul class=errors>
          {% for error in field.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% endfor %}
    </ul></dd>
  </div>

{% endmacro %}
