{% from "_formhelpers.html" import render_formfield, render_fieldlist %}
{% extends "layout.html" %}

{% block title %} Création d'un compte {% endblock title %}

{% block head_js %}
<script type="text/javascript" src="{{
         url_for('static', filename='jquery-2.1.1.js')
         }}"></script>

<script type="text/javascript" src="{{
         url_for('static', filename='custom_listbox.js')
         }}"></script>

<script type="text/javascript" src="{{
         url_for('static', filename='fieldset.js')
         }}"></script>

<script type="text/javascript" id="js">
$(document).ready(function(){
   $('#searchGroupFilter').keyup(function() {
     var searchArea = $('#group');
     // Select Box ID
     searchFromList($(this).val(), searchArea);
     //alert(searchArea);
   });
})
</script>
{% endblock head_js %}

{% block body %}
<div class="well col-md-offset-3 col-md-6 text-center">
  {% if add_form  %}
  <form method="post" action="/add_user/">
    <p class="help-block">Filtrer les groupes :
    <input id="searchGroupFilter" type="text"/></p>
    {{ render_formfield(add_form.group) }}
    {{ render_formfield(add_form.ldap_object_type) }}
    {{ render_formfield(add_form.uid) }}
    <button id="update" type="submit"  class="btn btn-primary">
      <span class="glyphicon glyphicon-arrow-right"> Suivant</span>
    </button>
    {% endif %}

    {% if edit_form  %}
    <form method="post" action="/add_user/{{ page}}/{{ uid }}">
      {% for field in fieldz %}
      {% if 'FieldList' in get_type(get_attr(edit_form, field.label)) %}
      {{ render_fieldlist(edit_form, field) }}
      {% else %}
      {{ render_formfield(get_attr(edit_form, field.label))}}
      {% endif  %}

      {% endfor  %}
      <button id="update" type="submit"  class="btn btn-primary">
        <span class="glyphicon glyphicon-ok-sign"> Créer le compte</span>
      </button>
    </form>


    {% endif %}
</div>
{% endblock body %}
