{% from "_formhelpers.html" import render_formfield %}
{% extends "layout.html" %}

{% block title %} Changement de mot de passe pour {{ uid }} {% endblock title %}

{% block head_js %}
<script type="text/javascript" src="{{
         url_for('static', filename='jquery-2.1.1.js')
         }}"></script>

<script type="text/javascript" id="js">
$(document).ready(function(){
  $('#pass_fieldz').hide()
})

var keylist="abcdefghijklmnopqrstuvwxyz123456789!?/_-()@~[]{}"
var temp=''

function generatepass(plength){
temp=''
for (i=0;i<plength;i++)
  temp+=keylist.charAt(Math.floor(Math.random()*keylist.length))
  return temp
}

function populateform(){
  var new_pass=generatepass(12)
  $('#new_pass').val(new_pass)
  $('#new_pass_confirm').val(new_pass)
  $('#generated_pass').html("Mot de passe généré : <span>" + new_pass + "</span>" )
  $('#pass_fieldz').hide()
}

function displayform(){
  $('#pass_fieldz').show()
  $('#generated_pass').html("")
 }
</script>
{% endblock %}

{% block body %}
<input type='button' value='Générer un mot de passe' onClick="populateform()" >
<input type='button' value='Entrer un mot de passe' onClick="displayform()" >
<br/>
<br/>
<div id='generated_pass'></div>
<form method=post action="/edit/{{ uid }}">
  <dl id='pass_fieldz'>
    {{ render_formfield(form.new_pass) }}
    {{ render_formfield(form.new_pass_confirm) }}
  </dl>
  <p><input type=submit value="Mettre à jour le mot de passe">
</form>
{% endblock body %}
