{% from "_formhelpers.html" import render_formfield, render_field %}
{% extends "layout.html" %}

{% block title %} Gestion de la soumission  {% endblock title %}
{% block body %}


<header class="row text-center">
  <h2>Gérer la soumission pour : {{ uid }}</h2>
</header>
<div class='row text-right'>
  <div id='dn'> Nom LDAP : {{ dn }}</div>
</div>
<section class="well col-md-4 col-md-offset-2">
  <form method="post" action="/edit_submission/{{ uid }}">
      {{ render_formfield(form.wrk_group) }}
      {{ render_formfield(form.member) }}
      {{ render_formfield(form.submission) }}
    <div class="text-center">
      <button id="update" type="submit"  class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"> Mettre à jour</span></button>
    </div>
  </form>
</section>
{% if submission_list  %}
<aside class="row col-md-4 col-md-offset-1">
  <h4>Droits de soumission actuels :</h4>
  <ul class='list-group'>
    {% for group in submission_list %}
    {% if group[1] == '1' %}
    <li class="list-group-item">{{ group[0]}}</li>
    {% endif %}
    {% endfor %}
  </ul>
</aside>
{% endif %}

{% endblock body %}
