{% from "_formhelpers.html" import render_formfield, render_fieldlist %}
{% extends "layout.html" %}

{% block title %} Editer le compte {{ uid }} {% endblock title %}

{% block head_js %}
<script type="text/javascript" src="{{
         url_for('static', filename='jquery-2.1.1.js')
         }}"></script>

<script type="text/javascript" src="{{
         url_for('static', filename='fieldset.js')
         }}"></script>

<script type="text/javascript" src="{{
         url_for('static', filename='custom_listbox.js')
         }}"></script>

<script type="text/javascript" id="js">
 $(document).ready(function(){
   $('#wrk_groupz-available_groupz').dblclick(function() {
     selectFromList('#wrk_groupz-available_groupz', '#wrk_groupz-selected_groupz');
   });
   $('#wrk_groupz-selected_groupz').dblclick(function() {
     removeFromList('#wrk_groupz-available_groupz', '#wrk_groupz-selected_groupz');
   });
   $('#toPage').click(function() {
     selectFromList('#wrk_groupz-available_groupz', '#wrk_groupz-selected_groupz');
   });
   $('#toAvailable').click(function(){
     removeFromList('#wrk_groupz-available_groupz', '#wrk_groupz-selected_groupz');
   });
   $('#searchGroupzFilter').keyup(function() {
     var searchArea = $('#wrk_groupz-available_groupz');
     // Select Box ID
     searchFromList($(this).val(), searchArea);
   });
   $('#update').click(function() {
     $('#wrk_groupz-selected_groupz option').prop('selected', true);
   });
 });
</script>

{% endblock head_js %}

{% block body %}

<div id='dn'> Nom LDAP : {{ dn }}</div> <br/>

<header class="row text-center">
  <h2>Edition de l'utilisateur {{ uid }}</h2>
</header>
<section class="row">
  <div class="well">
    <form method="post" action="/edit_user/{{ page.label}}/{{ uid }}" >
      <section class="row">
        <div class="col-sm-6  large-label">
          {% for field in fieldz %}
          {% if 'FieldList' in get_type(get_attr(form, field.label)) %}
          {{ render_fieldlist(form, field) }}
          {% else %}
          {{ render_formfield(get_attr(form, field.label))}}
          {% endif  %}
          {% endfor  %}
        </div>
        <div class="col-sm-6">
          <p class="help-block">Filtrer les groupes :
            <input id="searchGroupzFilter" type="text"/><p/>
            {{ render_formfield(form.wrk_groupz)}}
        </div>
      </section>
      <section class="row">
        <div class="text-center">
          <button id="update" type="submit"  class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"> Mettre à jour</span></button>
        </div>
      </section>
    </form>
  </div>
</section>
{% endblock body %}
