{% from "_formhelpers.html" import render_formfield, render_fieldlist %}
{% extends "layout.html" %}

{% block title %} Editer la ppolicy {{ ppolicy_label }} {% endblock title %}

{% block head_js %}
<script type="text/javascript" src="{{
         url_for('static', filename='jquery-2.1.1.js')
         }}"></script>

<script type="text/javascript" src="{{
         url_for('static', filename='fieldset.js')
         }}"></script>

{% endblock head_js %}

{% block body %}
<form method="post" action="/edit_ppolicy/{{ ppolicy_label }}">
  {% for field in fieldz %}
    {% if 'FieldList' in get_type(get_attr(form, field.label)) %}
        {{ render_fieldlist(form, field) }}
    {% else %}
        {{ render_formfield(get_attr(form, field.label))}}
    {% endif  %}

  {% endfor  %}
  <input id="update" type="submit" value="Mettre à jour" >
</form>

{% endblock body %}
