{% from "_formhelpers.html" import render_formfield %}
{% extends "layout.html" %}

{% block title %} Gestion des quotas {% endblock title %}

{% block head_js %}
<script type="text/javascript" src="{{
         url_for('static', filename='jquery-2.1.1.js')
         }}"></script>


<script type="text/javascript" src="{{
         url_for('static', filename='quota.js')
         }}"></script>

{% endblock head_js %}

{% block body %}
{% if form %}
<a href="{{ url_for(
   'delete_quota',
   storage_cn=storage_cn
   )}}">Supprimer le quota</a>
<br/>
<div id='dn'> Nom LDAP : {{ dn }}</div> <br/>
<form method="post" action="/edit_quota/{{ storage_cn }}">
{{ render_formfield(
  form.cinesQuotaSizeHard,
  class="quota-size{0}".format(
  " default-value" if 'cinesQuotaSizeHard' in default_fieldz else "")) }}
{{ render_formfield(
  form.cinesQuotaSizeSoft,
  class="quota-size{0}".format(
  " default-value" if 'cinesQuotaSizeSoft' in default_fieldz else "")) }}
{{ render_formfield(
  form.cinesQuotaInodeHard,
  class="quota-size{0}".format(
  " default-value" if 'cinesQuotaInodeHard' in default_fieldz else "")) }}
{{ render_formfield(
  form.cinesQuotaInodeSoft,
  class="quota-size{0}".format(
  " default-value" if 'cinesQuotaInodeSoft' in default_fieldz else "")) }}
{{ render_formfield(
  form.cinesQuotaSizeHardTemp,
  class="quota-size{0}".format(
  " default-value" if 'cinesQuotaSizeHardTemp' in default_fieldz else "")) }}
{{ render_formfield(
  form.cinesQuotaSizeSoftTemp,
  class="quota-size{0}".format(
  " default-value" if 'cinesQuotaSizeSoftTemp' in default_fieldz else "")) }}
{{ render_formfield(form.cinesQuotaSizeTempExpire) }}
{{ render_formfield(
  form.cinesQuotaInodeHardTemp,
  class="quota-size{0}".format(
  " default-value" if 'cinesQuotaInodeHardTemp' in default_fieldz else "")) }}
{{ render_formfield(
  form.cinesQuotaInodeSoftTemp,
  class="quota-size{0}".format(
  " default-value" if 'cinesQuotaInodeSoftTemp' in default_fieldz else "")) }}
{{ render_formfield(form.cinesQuotaInodeTempExpire) }}

<input id="update" type="submit" value="Modifier la soumission pour {{ uid }}" >
{% else %}
{% for storage in storagez  %}
<a href="{{ url_for(
   'edit_quota',
   storage_cn=storage
   )}}">Gérer les quotas pour {{ storage }}</a>
<br/>
{% endfor %}
{% endif %}
{% endblock body %}
