{% from "_formhelpers.html" import render_formfield %}
{% extends "layout.html" %}

{% block title %} Edition de la vue {{ page.label }} {% endblock title %}

{% block head_js %}


<script type="text/javascript" src="{{
         url_for('static', filename='jquery-2.1.1.js')
         }}"></script>

<script type="text/javascript" src="{{
         url_for('static', filename='custom_listbox.js')
         }}"></script>


<script type="text/javascript" id="js">
 $(document).ready(function(){
   $('#oc_form-available_oc').dblclick(function() {
     selectFromList('#oc_form-available_oc', '#oc_form-selected_oc');
   });
   $('#oc_form-selected_oc').dblclick(function() {
     removeFromList('#oc_form-available_oc', '#oc_form-selected_oc');
   });
   $('#toPage').click(function() {
     selectFromList('#oc_form-available_oc', '#oc_form-selected_oc');
   });
   $('#toAvailable').click(function(){
     removeFromList('#oc_form-available_oc', '#oc_form-selected_oc');
   });
   $('#searchOCFilter').keyup(function() {
     var searchArea = $('#oc_form-available_oc');
     // Select Box ID
     searchFromList($(this).val(), searchArea);
   });
   $('#attr_form-available_attr').dblclick(function() {
     selectFromList('#attr_form-available_attr', '#attr_form-selected_attr');
   });
   $('#attr_form-selected_attr').dblclick(function() {
     removeFromList('#attr_form-available_attr', '#attr_form-selected_attr');
   });
   $('#toPage').click(function() {
     selectFromList('#attr_form-available_attr', '#attr_form-selected_attr');
   });
   $('#toAvailable').click(function(){
     removeFromList('#attr_form-available_attr', '#attr_form-selected_attr');
   });
   $('#searchAttrFilter').keyup(function() {
     var searchArea = $('#attr_form-available_attr');
     // Select Box ID
     searchFromList($(this).val(), searchArea);
   });
   $('#update').click(function() {
     $('#oc_form-selected_oc option').prop('selected', true);
     $('#attr_form-selected_attr option').prop('selected', true);
   });
 });
</script>

{% endblock head_js %}

{% block body %}

<header class="row">
  <div class="text-center">
    <h2>Edition de la vue {{ page.label }}</h2>
</header>
<section class="row">
  <div class="well">
    <form method="post" action="/edit_page/{{ page.label}}">
      <section class="row">
        <div class="col-sm-7">
          <fieldset>
            <legend>Configuration des attributs :</legend>
            {% for label in attr_label_list %}
            <dl class="dl-horizontal">
              {{ render_formfield(get_attr(form, label)) }}
              {% endfor  %}
          </fieldset>
        </div>
        <div class="col-sm-4">

          <fieldset>
            <legend>Configuration par ObjectClass :</legend>
            <input id="searchOCFilter" type="text"/>
            {{ render_formfield(form.oc_form.available_oc) }}
            {{ render_formfield(form.oc_form.selected_oc) }}
          </fieldset>

          <fieldset>
            <legend>Configuration par Attributs :</legend>
            <input id="searchAttrFilter" type="text"/>
            {{ render_formfield(form.attr_form.available_attr) }}
            {{ render_formfield(form.attr_form.selected_attr) }}
          </fieldset>

        </div>
      </section>
      <section class="row">
        <div class="text-center">
          <button id="update" type="submit"  class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"> Mettre à jour</button>
        </div>
      </section>

    </form>
  </div>
</section>
{% endblock body %}
