{% from "_formhelpers.html" import render_formfield %}
{% extends "layout.html" %}

{% block title %} Recherche de compte {% endblock title %}

{% block head_js %}
{% endblock head_js %}

{% block body %}
{% if form %}
<div id='dn'> Nom LDAP : {{ dn }}</div> <br/>
<form method="post" action="/edit_default_quota/{{ storage_cn }}">
{{ render_formfield(form.cinesQuotaSizeHard) }}
{{ render_formfield(form.cinesQuotaSizeSoft) }}
{{ render_formfield(form.cinesQuotaInodeHard) }}
{{ render_formfield(form.cinesQuotaInodeSoft) }}
<input id="update" type="submit" value="Modifier la soumission pour {{ uid }}" >
{% else %}
{% for storage in storagez  %}
<a href="{{ url_for(
   'edit_default_quota',
   storage_cn=storage
   )}}">Gérer les quotas pour {{ storage }}</a>
<br/>
{% endfor %}
{% endif %}
{% endblock body %}
