{% extends "layout.html" %}

{% block title %}
Accueil
{% endblock %}

{% block body %}
<!-- <header class="row text-center">
<h2>Acceuil</h2>
</header> -->

<div class="row">
  <section class="col-sm-8">

    <h4>Liste des membres par branche :</h4>
    {% for branch in config['BRANCHZ'] %}
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading text-center"><strong>{{ branch['account'].upper() }}</strong></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3">Compte <!-- {{ branch['account'] }} --></div>
            <div class="col-sm-5"><a href="{{ url_for(
                                     'show_group_memberz',
                                     group=branch['account'])}}">Consulter/Modifier</a></div>
            {% if session['admin'] %}
            <div class="col-sm-4"><a href="{{url_for(
                                     'add_user',
                                     page_label=branch['account'])
                                     }}">Ajouter</a></div>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-sm-3">Groupe <!-- {{ branch['group'] }} --></div>
            <div class="col-sm-5"><a href="{{ url_for(
                                     'show_groups',
                                     branch=branch['group'])}}">Consulter/Modifier</a></div>
            {% if session['admin'] %}
            <div class="col-sm-4"><a href="{{ url_for(
                                     'add_group',
                                     page_label=branch['group'])}}">Ajouter</a></div>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
    {% endfor %}

  </section>

  <section class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Mon compte</div>
      <div class="panel-body">
        <a href="{{ url_for(
           'change_password',
           uid=session['uid'])}}">Changer mon mot de passe</a>
        <br/>
        <a href="{{ url_for(
           'show_user',
           page=get_group_from_member_uid(session['uid']),
           uid=session['uid'])}}">Détails de mon compte</a>
        <br>
        <a href="{{ url_for(
           'show_bind_history',
           uid=session['uid']
           )}}">Afficher l'historique des connexions</a>
        <br>
        <a href="{{ url_for(
           'show_history',
           uid=session['uid']
           )}}">Afficher l'historique des modifications</a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Gestion des utilisateurs</div>
      <div class="panel-body">
        <a href="{{ url_for(
           'search_user')}}">Chercher un utilisateur</a>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Gestion par lot</div>
      <div class="panel-body">
        <a href="{{ url_for(
           'edit_group_submission')}}">Editer la soumission par groupe(s)</a>
        <br>
        <a href="{{ url_for(
           'edit_by_group')}}">Editer un/des attribut(s) par groupe(s)</a>
        <br>
        <a href="{{ url_for(
           'edit_file')}}">Editer un/des attribut(s) à partir d'un fichier</a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Gestion des quotas</div>
      <div class="panel-body">
        <a href="{{ url_for(
           'edit_quota')}}">Gérer les quotas spécifiques</a>
        <br>
        <a href="{{ url_for(
           'add_quota')}}">Ajouter un quota spécifique</a>
        <br>
        <a href="{{ url_for(
           'edit_default_quota')}}">Gérer les quotas par defaut</a>
        <br>
        <br>

        <a href="{{ url_for(
           'show_filesystems')}}">Gérer les systèmes de fichier</a>

      </div>
    </div>


    {% if session['admin'] %}
    <div class="panel panel-default">
      <div class="panel-heading">Administration :</div>
      <div class="panel-body">
        <a href="{{ url_for(
           'edit_page')}}">Gérer les vues</a>
        <br>
        <a href="{{ url_for(
           'add_page')}}">Ajouter une vue</a>
        <br>
        <br>
        <a href="{{ url_for(
           'show_ppolicies')}}">Gérer les ppolicies</a>
        <br>
        <a href="{{ url_for(
           'add_ppolicy')}}">Ajouter une ppolicy</a>
        <br>
        <br>
        <a href="{{ url_for(
           'show_ldap_object_types')}}">Gérer les types d'objets LDAP</a>
        <br>
        <a href="{{ url_for(
           'add_ldap_object_type')}}">Ajouter un type d'objet LDAP</a>
        <br>
        <br>
        <a href="{{ url_for(
           'show_shells')}}">Gérer les types de shell</a>
        <br>
        <br>
        <a href="{{ url_for(
           'update_schema')}}">Mise à jour de la copie locale du schema LDAP</a>
      </div>
    </div>
    {% endif %}

  </section>

</div>
{% endblock body %}
