{% extends "layout.html" %}
{% block head_js %}


<script type="text/javascript" src="{{                                                                                                                               url_for('static', filename='jquery-2.1.1.js')                                                                                                               }}"></script>


<script type="text/javascript" language='javascript' src="{{
         url_for('static', filename='TableFilter/tablefilter.js')
         }}"></script>


{% endblock head_js %}

{% block body %}

{% if memberz %}
<h1> Liste des membres du groupe {{ group }} : </h1>
<table id='table1' >
  {% for member in memberz|sort %}
  <tr>
    <td> <a href="{{
            url_for('show_user',
           page=group,
           uid=member) }}">{{member}}</a> </td>
  </tr>
  {%endfor%}
</table>
{% else %}
<h1>Groupe vide</h1>
{% endif %}

<script language="javascript" type="text/javascript">
 var table_propz = { on_keyup: true,
                     on_keyup_delay: 10
 }
 setFilterGrid("table1", table_propz);
</script>

{% endblock %}
