{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}

{% block title %} Détails pour le groupe {{ cn }} {% endblock title %}

{% block head_js %}
{% endblock head_js %}

{% block body %}
<a href="{{ url_for(
'edit_group',
branch=branch,
group_cn=cn)}}">Editer</a>
<a href="{{ url_for(
   'delete_group',
   branch=branch,
   cn=cn
   )}}">Supprimer</a>
<br/>

<div id='dn'> Nom LDAP : {{ dn }}</div> <br/>

{% for attr_name, attr_values in cn_attributez.iteritems() %}
{% if attr_name in page_fieldz %}
{% if page_fieldz[attr_name].display %}
{{ page_fieldz[attr_name].description }} ( {{attr_name}} ) :
<ul>
{% for value in attr_values %}
<li>{{ render_field(value, page_fieldz[attr_name].fieldtype.type) }}</li>
{% endfor %}
</ul>
{% endif %}
{% endif %}
{% endfor %}

{% if manager %}
Responsable : {{ manager.qualite.libelle_qualite }}  {{ manager.nom_personne }}  {{ manager.prenom_personne }} <br/>
Comite : {{ ressource.comite.intitule_comite }} <br/>
Site : {{ manager.adresse.organisme_adresse }}<br/>
Laboratoire : {{ manager.adresse.laboratoire_adresse }} <br/>
Ville : {{ manager.adresse.ville_adresse}} <br/>
Téléphone : {{ manager.telephone_personne }} <br>
Fax : {{ manager.fax_personne }} <br>
Mail : {{ manager.bal_personne }} <br/>

<br>
<table>
  <tr>
    <th>Ressources</th>
    <th>IBM</th>
    <th>SGI</th>
  </tr>
  <tr>
    <td>Demandées</td>
    <td> {{ ressource.demande_uc_ibm if ressource.demande_uc_ibm  else 0}}</td>
    <td> {{ ressource.demande_uc_sgi if ressource.demande_uc_sgi  else 0}}</td>
  </tr>
  <tr>
    <td>Accordées</td>
    <td> {{ ressource.accorde_uc_ibm if ressource.accorde_uc_ibm else 0}}</td>
    <td> {{ ressource.accorde_uc_sgi if ressource.accorde_uc_sgi else 0}}</td>
  </tr>
  <tr>
    <td>Consommées</td>
    <td> {{ ibm_computed  if ibm_computed  else 0}}</td>
    <td> {{ sgi_computed  if sgi_computed  else 0}}</td>
  </tr>
</table>

{% endif %}

{% endblock body %}
