{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}

{% block title %} Détails pour le compte {{ uid }} {% endblock title %}

{% block head_js %}
{% endblock head_js %}

{% block body %}

{% if session['admin'] or session['uid']==uid %}
<a href="{{ url_for(
   'edit_user',
   page=get_group_from_member_uid(uid),
   uid=uid
   )}}">Editer</a>

<a href="{{ url_for(
   'change_password',
   uid=uid
   )}}">Gérer le mot de passe</a>
<a href="{{ url_for(
   'edit_submission',
   uid=uid
   )}}">Gérer la soumission</a>
<br/>
<a href="{{ url_for(
   'delete_user',
   uid=uid
   )}}">Supprimer l'utilisateur</a>
<br/>
<a href="{{ url_for(
   'select_work_groups',
   uid=uid
   )}}">Gérer les groupes de travail</a>
<br/>
{% endif %}
{% if session['admin'] %}
<a href="{{ url_for(
   'toggle_account',
   uid=uid
   )}}">
{% if is_active %}Désactiver{% else %}Activer{% endif %} le compte</a>
{% endif %}
<br/>

<div id='dn'> Nom LDAP : {{ dn }}</div> <br/>

{% if submission_list %}
Soumission
<dl>
{% for group in submission_list %}
<dt>{{ group[0]}}</dt>
<dd>{% if group[1] == '1' %}Oui{% else %}Non{% endif %}</dd>
{% endfor %}
</dl>
{% endif %}
<br/>
{% if work_groupz %}
<h3>Groupes de travail</h3>
{% for group in work_groupz %}
{{ group }}
{% endfor %}
{% endif %}

<br/>
{% if sec_groupz %}
<h3>Groupes secondaires</h3>
{% for group in sec_groupz %}
{{ group }}
{% endfor %}
{% endif %}

<br/>
<br/>
{% for attr_name, attr_values in uid_attributez.iteritems() %}
{% if attr_name in page_fieldz %}

{% if page_fieldz[attr_name].display %}

{{ page_fieldz[attr_name].description }} ( {{attr_name}} ) :

<ul>
{% for value in attr_values %}
<li>{{ render_field(value, page_fieldz[attr_name].fieldtype.type) }}</li>
{% endfor %}
</ul>
{% endif %}
{% endif %}

{% endfor %}
{% endblock body %}
