{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}

{% block title %} Détails pour le groupe {{ cn }} {% endblock title %}

{% block head_js %}
{% endblock head_js %}

{% block body %}
<header class="row text-center">
  <h2>Détails pour le groupe {{ cn }}</h2>
</header>

<section class="row">
  <div class="col-sm-6">

    {% for block in blockz %}
    <div class="attrz-block">
      {% for field in page_fieldz %}
      {% if field.label in cn_attributez.keys() and field.block == block %}

    {% if field.label == 'memberuid' %}
    <strong>Membres à titre principal :</strong>
    <ul class="list-group">

      {% for value in principal_memberz %}
      {% if get_group_from_member_uid(value) %}
      <a class="list-group-item" href="{{ url_for('show_user',
         page=get_group_from_member_uid(value),
         uid=value)}}">{{ value }}</a>
      {% else %}
      <a class="list-group-item" href="#">{{ value }} (Introuvable)</a>
      {% endif %}
      {% endfor %}
    </ul>
    <strong>Membres à titre secondaires ( {{attr_name}} ) :</strong>
    <ul class="list-group">

      {% for value in cn_attributez[field.label] %}
      {% if value not in principal_memberz %}
      {% if get_group_from_member_uid(value) %}
      <a class="list-group-item" href="{{ url_for('show_user',
         page=get_group_from_member_uid(value),
         uid=value)}}">{{ value }}</a>
      {% else %}
      <a class="list-group-item" href="#">{{ value }} (Introuvable)</a>
      {% endif %}
      {% endif %}
      {% endfor %}
    </ul>
    {% else %}


    <strong>{{ field.description }} ( {{field.label}} ) :</strong>
    <ul class="list-group">
      {% for value in cn_attributez[field.label] %}
      <li class="list-group-item">{{ value.decode('utf-8') }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% endif %}

    {% endfor %}
    </div>
    {% endfor %}

    {% if manager %}
    <div class="well">
      <strong>Responsable : </strong> {{ manager.qualite.libelle_qualite }}  {{ manager.nom_personne }}  {{ manager.prenom_personne }} <br/>
      <strong>Comite : </strong>{{ ressource.comite.intitule_comite }} <br/>
      <strong>Site : </strong>{{ manager.adresse.organisme_adresse }}<br/>
      <strong>Laboratoire : </strong>{{ manager.adresse.laboratoire_adresse }} <br/>
      <strong>Ville : </strong>{{ manager.adresse.ville_adresse}} <br/>
      <strong>Téléphone : </strong>{{ manager.telephone_personne }} <br>
      <strong>Fax : </strong>{{ manager.fax_personne }} <br>
      <strong>Mail : </strong>{{ manager.bal_personne }} <br/>

      <br>
      <table class="table">
        <tr>
          <th>Ressources</th>
          <th>IBM</th>
          <th>BULL</th>
        </tr>
        <tr>
          <td>Demandées</td>
          <td> {{ ressource.demande_uc_ibm if ressource.demande_uc_ibm  else 0}}</td>
          <td> {{ ressource.demande_uc_occigen if ressource.demande_uc_occigen  else 0}}</td>
        </tr>
        <tr>
          <td>Accordées</td>
          <td> {{ ressource.accorde_uc_ibm if ressource.accorde_uc_ibm else 0}}</td>
          <td> {{ ressource.accorde_uc_occigen if ressource.accorde_uc_occigen else 0}}</td>
        </tr>
        <tr>
          <td>Consommées</td>
          <td> {{ ibm_computed  if ibm_computed  else 0}}</td>
          <td> {{ bull_computed  if bull_computed  else 0}}</td>
        </tr>
      </table>
    </div>
    {% endif %}

  </div>

  <div class="col-sm-offset-2 col-sm-4" >
    <aside class="row">
      <div id='dn'>Nom LDAP : {{ dn }}</div>
      <h4>Actions</h4>
      <a href="{{ url_for(
         'edit_group',
         branch=branch,
         group_cn=cn)}}">Editer</a>
      <br>
      <a href="{{ url_for(
         'delete_group',
         branch=branch,
         cn=cn
         )}}">Supprimer</a>
      <br/>
    </aside>
    <aside class="row">
      <h4>Quotas</h4>
      {% for quota in quotaz %}
      <strong>{{ quota[0] }} : </strong>
      <a href="{{ url_for(
         'edit_default_quota',
         storage_cn=quota[0])}}">Quota par defaut </a>
       /
      {% if quota[1] %}
      <a href="{{ url_for(
         'edit_quota',
         storage_cn=quota[1])}}">Editer quota spécifique <strong>{{ quota[1] }}</strong></a>
      {% else %}
      <a href="{{ url_for(
         'add_quota',
         storage=quota[0],
         group=cn_attributez['gidNumber'][0])}}">Ajouter un quota spécifique</a>
      {% endif %}
      {% endfor %}
    </aside>
  </div>
</section>

{% endblock body %}
